/* Global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

/* Layout */
.main {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #111827;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  margin: 10px 0;
  color: #9ca3af;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar a:hover {
  background-color: #1f2937;
  color: #22d3ee; /* AQUA BLUE */
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}

/* Card */
.card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

/* Input */
input, select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  font-style: bold;
}

/* Button */
button {
  background-color: #22d3ee; /* AQUA BLUE */
  color: black;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #06b6d4;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #22d3ee;
  color: black;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #0f172a;
}
.sidebar a.active{
  background-color: #064e3b;
  color: #22d3ee;
}
git pull origin satish-admin-ui --rebase